.about-container {
  padding: 16px;
  font-family: 'ari95', sans-serif;
  background-color: #c4c4c4;
  color: #000;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
}

.about-title {
  margin: 0 0 12px 0;
  font-size: 22px;
}

.about-container a {
  color: #0000aa;
}
