.container {
  position: absolute;
  background-color: #c4c4c4;
  min-height: 150px;
  min-width: 150px;
  height: 300px;
  width: 300px;
  border-width: 3px;
  border-top-color: rgb(236, 236, 236);
  border-left-color: rgb(236, 236, 236);
  border-right-color: #747474;
  border-bottom-color: #747474;
  border-style: solid;
  padding: 3px;
}

.window-body {
  margin-top: 3px;
  display: flex;
  height: calc(100% - 39px);
  border-width: 3px;
  border-bottom-color: rgb(236, 236, 236);
  border-right-color: rgb(236, 236, 236);
  border-left-color: #747474;
  border-top-color: #747474;
  border-style: solid;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #808080;
  height: 30px;
  width: 100%;
  color: #c4c4c4;
}

.top-bar.active {
  background-color: rgba(0, 0, 136, 0.651);
  color: #f1f1f1;
}

.window-title {
  text-align: left;
  font-size: 22px;
  margin: 0px;
  padding-left: 5px;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.resize-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.window-functions {
  display: flex;
  flex-direction: row;
}

.function-container {
  display: flex;
  background-color: #c4c4c4;
  justify-content: center;
  align-items: center;
  margin: 3px;
  cursor: pointer;
  border-width: 2px;
  border-top-color: rgb(236, 236, 236);
  border-left-color: rgb(236, 236, 236);
  border-right-color: #747474;
  border-bottom-color: #747474;
  border-style: solid;
}