.shortcut-container {
  cursor: pointer;
}

.shortcut-active {
  border-width: 1px;
  border-style: dotted;
  border-color: #ffffff;
  background-color: rgba(0, 0, 136, 0.651);
  border-radius: 2px;
  margin: 0px !important;
}

.shortcut-title {
  margin: 1px;
  font-size: 22px;
  color: #eeeeee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  letter-spacing: 0.5px;
}