.shortcut-container {
  cursor: pointer;
  margin: 10px;
  width: 75px;
  height: 75px;
  user-select: none;
}

.shortcut-active {
  border-width: 1px;
  border-style: dotted;
  border-color: #ffffff;
  background-color: rgba(0, 0, 136, 0.651);
  border-radius: 2px;
  margin-top: 0px !important;
}

.shortcut-title {
  max-width: fit-content;
  margin-top: 1px;
  margin-inline: auto;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0.5px;
}